@{
    ViewData["Title"] = "About";
    ViewBag.PageName = "About";
}

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>About Luke</h2>
                <br />
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <img src="~/assets/img/head-shot.jpg" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content">
                    <h3>Developer &amp; Software Engineer</h3>
                    <p class="fst-italic">
                        Working in Front End, Middle Tier, or Back End - I can do it
                        all. But I tend to like middle/back the best.
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li>
                                    <i class="bi bi-rounded-right"></i>
                                    <strong>Website:</strong>
                                    <a href="www.lucasjkelley.com">www.lucasjkelley.com</a>
                                </li>
                                <li>
                                    <i class="bi bi-rounded-right"></i>
                                    <strong>City:</strong> Overland Park, Kansas, USA
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li>
                                    <i class="bi bi-rounded-right"></i>
                                    <strong>LinkedIn:</strong>
                                    <a href="https://www.linkedin.com/in/lucasjkelley/">/lucasjkelley</a>
                                </li>
                                <li>
                                    <i class="bi bi-rounded-right"></i>
                                    <strong>Email:</strong>
                                    <a href="mailto:lucas.j.kelley@gmail.com">lucas.j.kelley@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        Hello! My name is Lucas Kelley but you can just call me Luke. I
                        am a professional developer living in Overland Park, KS - just
                        outside of Kansas City. Professionally, I am driven to be better
                        by staying at the forefront and I'm always looking for ways to
                        improve. Personally, my family keeps me happy and filled with
                        love. I strive to always be the best husband and father that
                        they deserve. I try to keep my brain sharp and imagination
                        filled by reading books & comics whenever I get the chance.
                    </p>
                    <p>
                        I began my passion for programming in college when I was
                        learning C++. Even though I did not finish my formal studies in
                        the Computer Sciences, I have always had a heart for it. At
                        almost every company I have worked for, and including my own
                        company, I have had an impact in analyzing their data. Creating
                        processes and programs that helped dive deeper into what was
                        happening and give insight on how to better move forward. This
                        was mostly utilizing Excel & Access and I had always felt
                        limited with only those tools. I knew there was more to learn,
                        and I wanted to do it professionally and full time. So I decided
                        to conquer Centriq Training's Full-Stack Developer Program and
                        start there. The sky's the limit as I continue to learn new
                        skills at every opportunity.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <h2>Skills</h2>
                <p>
                    I specialize in a variety of technologies and bring a lot to the
                    table. Everyone has their own way of doing things and I'm very
                    adaptable.
                </p>
            </div>

            <div class="row pt-5">
                <div class="col-md-6 row-item col-lg-4">
                    <div class="card-img pb-3 align-left">
                        <i class="bi bi-phone-landscape" media-simple="true"></i>
                    </div>
                    <h4 class="custom-fonts-style custom-card-title-display-5">
                        Responsive Design
                    </h4>
                    <p class="custom-text custom-fonts-style display-7">
                        Utilize break-through technologies and techniques to design
                        websites that look good on any device, using HTML5, JavaScript,
                        jQuery, jQueryUI, CSS3, and Bootstrap.
                    </p>
                </div>

                <div class="col-md-6 row-item col-lg-4">
                    <div class="card-img pb-3 align-left">
                        <i class="bi bi-braces" media-simple="true"></i>
                    </div>
                    <h4 class="custom-fonts-style custom-card-title-display-5">
                        Software Development
                    </h4>
                    <p class="custom-text custom-fonts-style display-7">
                        Design and develop full-stack applications using .NET Framework,
                        .NET Core, C#.NET, ASP.NET, LINQ, MVC, and EF.
                    </p>
                </div>

                <div class="col-md-6 row-item col-lg-4">
                    <div class="card-img pb-3 align-left">
                        <i class="bi bi-database" media-simple="true"></i>
                    </div>
                    <h4 class="custom-fonts-style custom-card-title-display-5">
                        Database Management
                    </h4>
                    <p class="custom-text custom-fonts-style display-7">
                        Streamlined development for managing your back-end, using
                        ADO.Net, SQL, SQL Server, and SSMS.
                    </p>
                </div>
            </div>
        </div>
    </section>    
</main>
<!-- End #main -->
