@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center"
         data-aos="zoom-in"
         data-aos-delay="100">
        <h1>Lucas J Kelley</h1>
        <h2>I'm a professional developer from Kansas City</h2>
        <a href="about.html" class="btn-about">About Me</a>
    </div>
</section>
<!-- End Hero -->
