@{
    ViewBag.Title = "Portfolio Details";
    Layout = "~/Views/Shared/_LayoutLightbox.cshtml";
}

<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/assets/img/portfolio/Api_snip_1.PNG" alt="code snippet of get commands">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/assets/img/portfolio/Api_snip_2.PNG" alt="snippet of model code">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/assets/img/portfolio/Api_snip_3.PNG" alt="snippet of code building api services">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>RESTful API</h3>
                        <ul>
                            <li><strong>Category</strong>: Web API</li>
                            <li><strong>Client</strong>: Centriq Project</li>
                            <li><strong>Project date</strong>: May 2023</li>
                            <li><strong>URL</strong>: <a href="https://github.com/lucasjkelley/ToDoAPI" target="_blank">GitHub</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>Web API</h2>
                        <p>
                            I created this Web API to showcase my ability to create a RESTful API that can be consumed by another application. The goal of this API is to provide the backend functionality for the React ToDo list application.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->