@{
    ViewBag.Title = "Portfolio Details";
    Layout = "~/Views/Shared/_LayoutLightbox.cshtml";
}

<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/assets/img/portfolio/Atomic_S_1.PNG" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/assets/img/portfolio/Atomic_S_2.PNG" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/assets/img/portfolio/Atomic_S_3.PNG" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: Web Application</li>
                            <li><strong>Client</strong>: Centriq Team Project</li>
                            <li><strong>Project date</strong>: May 2023</li>
                            <li><strong>URL</strong>: <a href="#" target="_blank">No Link Yet</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>Secure Data-Driven Web Application</h2>
                        <p>
                            This project was a full team effort to create a multi-tier web application for a client. The need was for a secure intranet application,
                            linked to a relational database that allowed the client to manage all company records. We also implemented JS functionality with Moment.js & Chart.js on the .net backend by installing the nuget packages. We utilized pair programming, agile methodologies & daily
                             scrums, and a Kanban board to complete the project (from concept to presentation) in 1 week.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->