@{
    ViewBag.Title = "Portfolio Details";
    Layout = "~/Views/Shared/_LayoutLightbox.cshtml";
}

<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/assets/img/portfolio/SAT.jpg" alt="Algorithm Textbook">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/assets/img/portfolio/coming_soon.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/assets/img/portfolio/coming_soon.jpg" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: Web Application</li>
                            <li><strong>Client</strong>: Centriq Project</li>
                            <li><strong>Project date</strong>: Estimated completion: May 2023</li>
                            <li><strong>URL</strong>: <a href="#" target="_blank">No Link Yet</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>SAT ToDo</h2>
                        <p>
                            Coming Soon!
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->