@{
    ViewBag.Title = "Portfolio Details";
    Layout = "~/Views/Shared/_LayoutLightbox.cshtml";
}

<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="/assets/img/portfolio/react.jpg" alt="react logo on laptop">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/assets/img/portfolio/react2.jpg" alt="snippet of retro game website">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/assets/img/portfolio/react3.jpg" alt="snippet of interactive table of tasks">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>React To Do Application</h3>
                        <ul>
                            <li><strong>Category</strong>: Web Application</li>
                            <li><strong>Client</strong>: Centriq Project</li>
                            <li><strong>Project date</strong>: May 2023</li>
                            <li><strong>URL</strong>: <a href="http://www.todo.lucasjkelley.com" target="_blank">ReactJS Web App</a></li>
                            <li><strong>URL</strong>: <a href="http://github.com/lucasjkelley/react_todo" target="_blank">GitHub</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>React JS Application</h2>
                        <p>
                            I wrote this app using ReactJS 18 and it communicates with a T-SQL database via an ASP.NET Core 6 Web API. I implemented npm packages for advanced functionality which includes: routing via React Router Dom, API request handling through Axios, authorization via Google Firebase, and form handling and schema validation using a combination of Formik and Yup. The full source code is available on my GitHub.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->